<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/product-list.css" />
  </head>
  <body class="container">
    <h2 class="page-title"><%= title %></h2>
    <div class="products-container">
      <% for(let product of products) { %>
      <div class="product-container">
        <div class="thumbnail">
          <img src="<%= product.imageUrl %>" alt="Headphones" />
        </div>
        <div class="details">
          <h2 class="title">
            <a href="/products/<%= product.id %>"><%= product.title %></a>
          </h2>
          <p class="category"><%= product.category %></p>
          <div class="price-container">
            <p class="price">$<%= product.price %></p>

            <!-- if(product.salePrice) { ... } -->

            <% if (product.salePrice !== null) { %>
            <p class="sale-price">$<%= product.salePrice %></p>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
